*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body{
    background: #dcd5db;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container{
    background: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 10px 30px #000000;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

/* Screen */
.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}

 .screen.active{
    display: block;
} 

#start-screen h1{
    color:#e86a33;
    margin-bottom:20px;
    font-size: 2.5rem;
}

#start-screen p{
    color:#666;
    margin-bottom:30px;
    font-size: 1.1rem;
}

.quiz-header{
    margin-bottom: 30px;
}

#question-text{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1rem;
}

.quiz-info{
    display: block;
    justify-content: space-between;
    color: #666;
    font-size: 1rem;
    margin-bottom: 10px;

}

.answers-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.answer-btn{
    background: #f8f0e5;
    color: #333;
    border:2px solid #f8f0e5;
    border-radius: 10px;
    padding: 1rem;
    cursor:pointer; 
    text-align: left;
    transition: all 0.3s ease;
}

.answer-btn:hover{
    background-color: #eadbc8;
    border-color: #dec0ae;
}

.answer-btn.correct{
    background-color: #fff;
    border-color: #333;
    color: red;
}


.progress-bar{
    background-color: #f8f0e5;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.progress{
    height: 100px;
    background-color: #e86a33;
    width: 0%;
    transition: width 0.3s ease;
}

/*Result-screen */

#result-screen h1{
    color: #e86a33;
    margin-bottom: 30px;
}

.result-info{
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.result-info p{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

button{
    background-color: #e86a33;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: width 0.3s ease;
}

button:hover{

    background-color: #d45b28;

}


/* Responsive design
@media(max-width:500px){
    .screen{
        padding: 1rem;

    }

    #start-screen h1{
        
font-size: 2rem;
    }
} */
